@font-face {
  font-family: 'Messina Sans';
  src: url('./fonts/MessinaSans-Regular.eot');
  src: local('Messina Sans Regular'), local('MessinaSans-Regular'),
      url('./fonts/MessinaSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MessinaSans-Regular.woff2') format('woff2'),
      url('./fonts/MessinaSans-Regular.woff') format('woff'),
      url('./fonts/MessinaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}